#groupsIndexSection {
  background-image: url('../images/background.jpg');
  @extend .background-styles;

  md-card.groupsIndexList {
    margin: 0;
    width: 50%;
    padding: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    // background-color: rgba(255, 255, 255, 0.9);

    md-card-title {
      width: 100%;
      color: $white;
      text-align: center;
      margin: 0 auto 2.5rem auto;
      border-bottom: 1px solid $white;
    }

    .newMember {
      h3 {
        font-size: 1rem;
        padding-bottom: 10px;
        color: $white;
      }
      a {
        color: $yellow;
      }
    }

    div {
      text-align: center;

      &:hover {
        h2 {
          color: $yellow;
        }
      }

      h2 {
        font-size: 1.2em;
        padding-bottom: 10px;
        color: $white;
      }
      span {
        color: $yellow;
      }
    }
  }
}
