md-content.groupsIndexSection {
  background-image: url('../images/background.jpg');
  @extend .background-styles;
  @include flexbox(flex, colmun, center, center);

  md-card {
    md-card-title {
      border-bottom: 2px solid $white;

      h1 {
        @extend .custom-header;
      }
    }

    md-card-content {
      h3 {
        color: $white;
      }
      a {
        color: $yellow;
      }
    }

    md-card-content {
      div {
        text-align: center;
        padding: 0.2rem 0;
      }
      a {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 200;
        color: $white;

        span.dash {
          color: $yellow;
        }
        &:hover {
          color: $yellow;

          span.dash {
            color: $white;
          }
        }
      }
    }
  }
}
