md-content.groupsEditBackground {
  background: linear-gradient($md-card-background 100%, $md-card-background 100%), url('../images/background.jpg');
  @include flexbox(flex, column, flex-start, center);
  @include background(no-repeat, center center, cover)
  min-height: 100%;

  md-card {
    padding: 1rem;
    margin: 5rem 2rem 2rem 2rem;
    min-width: 35%;

    // back-button > button style
    back-button {
      padding: 0;

      button {
        margin: 0;
      }
    }

    md-card-title {
      border: 0;
      // padding: 0;

      h1 {
        @extend .custom-header;
      }
    }
    md-card-content {
      padding: 0;
    }
  }
}

// @include breakpoint(iPhoneSE) {
//   md-content.groupsEditBackground {
//     // height: 100%;
//
//     md-card {
//       // margin: 6rem 2rem 2rem 2rem;
//       max-width: 50%;
//       min-width: 80%;
//       // padding: 0;
//     }
//   }
// }
