#groupsNewBackground {
  background-image: url('../images/background.jpg');
  @extend .background-styles;
}

#groupsNewForm {
  padding: 30px;
  top: 50%;
  letter-spacing: 4px;
  font-weight: lighter;
  background-color: $background-color;
  border-radius: 10px;
  width: 80%;
  margin: 10px;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-size: 1em;

  h1 {
    padding-bottom: 25px;
    letter-spacing: 4px;
    font-size: 2em;
    border-bottom: 2px solid $white;
    margin-bottom: 10px;
  }

  form {
    div.input-container {
      width: 100%;
      margin: 0.5rem 0;
    }
    label {
      width: 100%;
      margin: 1rem 0;
    }
    button {
      width: 100%;
      margin: 0 0 1rem 0;
    }
    img {
      border-radius: 50%;
      width: 25px;
      height: 25px;
    }

  }
  .toolbar-tools {
    padding: 0;

    .button {
      padding: 0;
    }

    .button:last-child {
      margin: 0;
    }
    .button:first-child {
      margin: 0;
    }
  }
  .chosenUsers {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0px;
  }
  .chosenGroupUsers {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 0;

    smart-confirm {
      margin: 0;
    }
    .md-divider {
      margin: 5px 0;
    }
    div {
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      h5 {
        text-transform: uppercase;
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        min-width: 25px;
        height: 25px;
        min-height: 25px;
        margin: 0 0.5rem;

        .icon {
          font-size: 18px;
          height: auto;
          width: auto;
          min-height: auto;
          min-width: auto;
        }
      }
    }
  }
  .groupUsersToAdd {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;

    &.ng-move,
    &.ng-enter,
    &.ng-leave {
      -webkit-transition: all linear 0.1s;
      transition: all linear 0.1s;
    }

    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
      opacity: 0;
      max-height: 0;
    }

    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
      opacity: 1;
      max-height: 40px;
    }

    /**
    * Stagger Leave (hide) animation
    */
    &.ng-leave-stagger {
      /* this will have a 100ms delay between each successive leave animation */
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;

      /* in case the stagger doesn't work then these two values
      must be set to 0 to avoid an accidental CSS inheritance */
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }

    /**
    * Stagger ENTER ANIMATION
    */
    &.ng-enter-stagger {
      /* this will have a 100ms delay between each successive enter animation */
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;

      /* in case the stagger doesn't work then these two values
      must be set to 0 to avoid an accidental CSS inheritance */
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }

    div {
      padding: 0 1rem;
      margin: 0.5rem 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      h5 {
        padding: 0 0 0 1rem;
        text-transform: uppercase;
      }
    }
  }
  .chosenUsersLength {
    padding: 2rem 0 1rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  .groupsNewButtons {
    margin-top: 1rem;

    .button {
      width: 100%;
    }
  }
}

.attendees {
  padding: 10px;
  border: 2px dotted $white;
  border-radius: 10px;
  margin: 15px 0;

  h3 {
    font-size: 1.2em;
    color: yellow;
    border-bottom: 2px solid yellow;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  label#attendeeName {
    color: $white;
    // padding-left: 20px;
  }
  #attendees {
    position: relative;
  }
  label:hover {
    text-decoration: red line-through;
  }
  input#attendees[type='checkbox'] {
    width: 20px;
    top: -1px;
    margin: 0 auto 0 23px;
  }
}

#checkboxEditUser {
  color: $white;
  // display: none;
}

#checkboxNewUser {
  color: $white;
  // display: none;
}

#createGroupButton {
  &:before {
    background-image: url('../images/logos/addgroup.png');
    height: 35px;
  }
  &:hover {
    color: transparent;
  }
}

#groupsNewAteendeeImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 0%;
  content: '';
  display: block;
  padding: 30px;
  margin: 5px auto;
  border: 2px solid $white;
}
