md-content.groupsNewBackground {
  background-image: url('../images/background.jpg');
  @extend .background-styles;
  @include flexbox(flex, column, center, center);

  md-card {
    padding: 1rem;

    md-card-title {
      border: 0;
      padding: 1rem;

      h1 {
        @extend .custom-header;
      }
    }
    md-card-content {
      padding: 1rem;
    }
    // md-card-actions {
    //   margin: 0;
    // }
  }
}
