<h1>Budget</h1>

<h2>Flights to {{ holidaysShow.holiday.location }}</h2>
  <ul>
    <li ng-repeat="flight in budgetShow.flights">
      <div>
        <div>
          <h3>Date: {{ flight.OutboundLeg.DepartureDate | date:'dd-MM-yyyy' }}</h3>
        </div>
        <div>
          <h3>Min Price: £{{ flight.MinPrice }}</h3>
        </div>
        <div>
          <h3>Airline: {{ flight.CarrierName }}</h3>
        </div>
      </div>
    </li>
  </ul>

  <form ng-submit="budgetShow.getFlights()">
    <select name="departureDate" ng-model="budgetShow.location.departureDate">
      <option disabled="true" selected="true" value="">Select a departure month</option>
      <option value="2017-01-01">Jan 2017</option>
      <option value="2017-02-01">Feb 2017</option>
      <option value="2017-03-01">Mar 2017</option>
      <option value="2017-04-01">Apr 2017</option>
      <option value="2017-05-01">May 2017</option>
      <option value="2017-06-01">Jun 2017</option>
      <option value="2017-07-01">Jul 2017</option>
      <option value="2017-08-01">Aug 2017</option>
      <option value="2017-09-01">Sep 2017</option>
      <option value="2017-10-01">Oct 2017</option>
      <option value="2017-11-01">Nov 2017</option>
      <option value="2017-12-01">Dec 2017</option>
    </select>

    <p><strong>Recommended months are: </strong>{{ budgetShow.holiday.when_to_go }}</p>

    <div>
      <label>Duration (Days)</label>
      <input ng-model="budgetShow.getFlights.duration" type="number" name="duration">
    </div>

    <div>
      <label>Departure Airport</label>
      <input ng-model="budgetShow.holiday.user.airport" type="text" name="airport" disabled="true">
    </div>

    <div>
      <label>Arrival Airport</label>
      <input ng-model="budgetShow.holiday.location" type="text" name="location" disabled="true">
    </div>

    <div ng-if="budgetShow.getFlights">
      <button type="submit" name="button">Find Flights</button>
    </div>
  </form>

  <div>
    <h3>Recent crime</h3>
    <!-- <canvas id="doughnut" class="chart chart-doughnut" chart-data="groupsPropsShow.crimes.pieCrimeData" chart-labels="groupsPropsShow.labels" chart-legend="false">
    </canvas> -->
  </div>

<h2>Flight Cost</h2>
<input ng-if="!budgetShow.holiday.flightCost" ng-model="budgetShow.destination.minPrice" type="text" name="flightCost">

<h2>Accommodation Cost</h2>
<p>Based on the length of your trip, the estimated cost is {{ budgetShow.price }}</p>

<form ng-submit="budgetShow.createTrip()" class="ng-pristine ng-valid">
  <div>
    <input ng-model="budgetShow.newTrip.accommodationCost" type="number" name="accommodationCost">
  </div>

  <h2>Spending Money</h2>
  <!-- <p>Based on the length of your trip, the estimated cost is {{ budgetShow.price }}</p> -->
  <div>
    <input ng-model="budgetShow.newTrip.expenses" type="number" name="expenses">
  </div>

  <button>Save Holiday</button>
</form>
