<section>
  <div class="center">
    <h2>Flights to: {{ flightsShow.holiday.location }}</h2>
    <br>
    <ul>
      <li ng-repeat="flight in flightsShow.flights">
        <div>
          <hr>
          <h2>Total Price: £{{ flight.MinPrice }}</h2>
          <br>
          <h2>Outbound Flight</h2>
          <p>Airline: {{ flight.OutboundCarrierName }}</p>
          <p>Departure Date: {{ flight.QuoteDateTime | date:'dd-MM-yyyy HH:mm:ss' }}</p>
          <br>
          <h2>Inbound Flight</h2>
          <p>Airline: {{ flight.InboundCarrierName }}</p>
          <p>Return Date: {{ flight.InboundLeg.DepartureDate | date:'dd-MM-yyyy HH:mm:ss' }}</p>
          <p>Min Price: £{{ flight.MinPrice }}</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<hr>

<section>
  <div class="center">
    <h1>Flight Info</h1>
    <form ng-submit="flightsShow.searchFlights()">

      <p><strong>Recommended months are: </strong>{{ flightsShow.holiday.when_to_go }}</p>

      <div>
        <label for="departureDate">Departure Date</label>
        <input ng-model="flightsShow.holiday.departureDate" type="date" name="departureDate">
      </div>

      <div>
        <label for="returnDate">Return Date</label>
        <input ng-model="flightsShow.holiday.returnDate" type="date" name="returnDate">
      </div>

      <div>
        <label for="departureAirport">Departure Airport</label>
        <input ng-model="flightsShow.holiday.departureAirport" type="text" name="departureAirport" disabled="true">
      </div>

      <div>
        <label for="arrivalAirport">Arrival Airport</label>
        <input ng-model="flightsShow.holiday.arrivalAirport" type="text" name="arrivalAirport" disabled="true">
      </div>

      <button>Find Flights</button>
    </form>
  </div>
</section>
