<section class="searchFlightsSection">
  <div class="searchFlightsPage">
    <h1>Search Flights</h1>
    <form ng-submit="flightsShow.searchFlights()">

      <div>
        <p><strong>Recommended months are: </strong><br>{{ flightsShow.holiday.when_to_go }}</p>
      </div>

      <div>
        <label for="departureDate">Departure Date</label>
        <input ng-model="flightsShow.holiday.departureDate" type="date" name="departureDate">
      </div>

      <div>
        <label for="returnDate">Return Date</label>
        <input ng-model="flightsShow.holiday.returnDate" type="date" name="returnDate">
      </div>

      <div>
        <label for="departureAirport">Departure Airport</label>
        <input ng-model="flightsShow.holiday.departureAirport" type="text" name="departureAirport" disabled="true">
      </div>

      <div>
        <label for="arrivalAirport">Arrival Airport</label>
        <input ng-model="flightsShow.holiday.arrivalAirport" type="text" name="arrivalAirport" disabled="true">
      </div>

      <div class="searchFlightsButton">
          <button>Find Flights</button>
      </div>
    </form>
  </div>
</section>

<section class="betweenSections">
  <div class="searchFlightsPage ">
        <div class="flightsBoard">
          <h1>Flights to {{ flightsShow.holiday.location }}</h1>
          <br>
          <ul>
            <li ng-repeat="flight in flightsShow.flights">
              <div>
                  <h4>Ticket Price</h4>
                  <p><em>Min Price: </em>£{{ flight.MinPrice }}</p>
                  <br>
                  <h4>Outbound Flight</h4>
                  <p><em>Airline: </em>{{ flight.OutboundCarrierName }}</p>
                  <p><em>Departure Date: </em>{{ flight.QuoteDateTime | date:'dd-MM-yyyy' }}</p>
                  <br>
                  <h4>Inbound Flight</h4>
                  <p><em>Airline: </em>{{ flight.InboundCarrierName }}</p>
                  <p><em>Return Date: </em>{{ flight.InboundLeg.DepartureDate | date:'dd-MM-yyyy' }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
</section>
