/**
 This is mixin which you will include in parent
 of columns. It kills default margin of inline-block
 elements.
 */
@mixin row () {
  font-size: 0;
}

// This is column mixins.
@mixin col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  padding-left: if($first, 0, $gap);
  padding-right: if($last, 0, $gap);

  @media only screen and (min-width: 768px) {
    width: percentage($col/$sum);
    vertical-align: $align;
  }

  &.fluid {
    width: percentage($col/$sum);
  }
}

// h2 {
//   margin-top: 0;
// }
//
// .features, .products, .compare {
//   @include row;
//   margin-bottom: 50px;
// }
//
// .features article {
//   @include col(1, 3);
// }
//
// .products article {
//   background: #eee;
//   @include col(1, 3, $align: middle);
// }
//
// .compare article {
//   @include col(1, 2);
// }


////////////////////////////////////////////////////////////////////////////////


// @mixin basic-styles {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: $white;
// }
//
// @mixin row {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }
// @mixin display-grid {
//   display: -ms-grid;
//   display: grid;
// }
//
// @mixin grid-child($col-start, $col-end, $row-start, $row-end) {
//   -ms-grid-column: $col-start;
//   -ms-grid-column-span: $col-end - $col-start;
//   -ms-grid-row: $row-start;
//   -ms-grid-row-span: $row-end - $row-start;
//   grid-column: #{$col-start}/#{$col-end};
//   grid-row: #{$row-start}/#{$row-end};
// }
//
// .grid-parent {
//   @include display-grid;
//   -ms-grid-columns: 1fr 1fr 1fr;
//   -ms-grid-rows: 100px 100px;
//   grid-template-columns: repeat(3, 1fr);
//   grid-auto-rows: 100px;
//   grid-template-rows: 90px 90px;
//   // padding: 10px;
// }
//
// .grid-child {
//   @include basic-styles;
// }
//
// .grid-child {
//   &:not(:nth-child(n+4)) {
//     margin-bottom: 10px;
//   }
//
//   &:not(:nth-child(3n)) {
//     margin-right: 10px;
//   }
// }
//
// @supports (display: grid) {
//   .grid-child {
//     grid-gap: 10px;
//     margin-right: 0;
//     margin-bottom: 0;
//   }
// }
