<div id="holidaysNewBackground">
  <div id="holidaysNewForm">
    <back-button></back-button>

    <form name="holidaysNew.holidaysNewForm" ng-submit="holidaysNew.create()" novalidate>
      <h1>New Holiday</h1>

      <div class="choose button" id="camera">Select an image
        <label for="base64"></label>
        <input
          class="upload"
          type="file"
          base64
          name="base64"
          id="base64"
          ng-model="holidaysNew.holiday.base64"
          >
      </div>

      <div class="ng-message-error" ng-messages="holidaysNew.holidaysNewForm.image_src.$error" ng-show="(holidaysNew.holidaysNewForm.$submitted || holidaysNew.holidaysNewForm.image_src.$touched)">
        <p ng-message="required" class="formValidation">Main image is required</p>
      </div>

      <div>
        <input
          type="text"
          name="location"
          id="location"
          ng-model="holidaysNew.holiday.location"
          placeholder="Location"
          required
          >
      </div>

      <div class="ng-message-error" ng-messages="holidaysNew.holidaysNewForm.location.$error" ng-show="(holidaysNew.holidaysNewForm.$submitted || holidaysNew.holidaysNewForm.location.$touched)">
        <p ng-message="required" class="formValidation">Location is required</p>
      </div>

      <div>
        <input
          type="text"
          name="attractions"
          id="attractions"
          ng-model="holidaysNew.holiday.attractions"
          placeholder="Attractions"
          required
          >
      </div>

      <div class="ng-message-error" ng-messages="holidaysNew.holidaysNewForm.attractions.$error" ng-show="(holidaysNew.holidaysNewForm.$submitted || holidaysNew.holidaysNewForm.attractions.$touched)">
        <p ng-message="required" class="formValidation">Attractions is required</p>
      </div>

      <div>
        <input
          type="text"
          name="when_to_go"
          id="when_to_go"
          ng-model="holidaysNew.holiday.when_to_go"
          placeholder="Best time to go"
          required
          >
      </div>

      <div class="ng-message-error" ng-messages="holidaysNew.holidaysNewForm.when_to_go.$error" ng-show="(holidaysNew.holidaysNewForm.$submitted || holidaysNew.holidaysNewForm.when_to_go.$touched)">
        <p ng-message="required" class="formValidation">Best time to go is required.</p>
      </div>

      <div>
        <input
          type="text"
          name="departureAirport"
          id="departureAirport"
          ng-model="holidaysNew.holiday.departureAirport"
          placeholder="Departure Airport"
          required
          >
      </div>

      <div class="ng-message-error" ng-messages="holidaysNew.holidaysNewForm.departureAirport.$error" ng-show="(holidaysNew.holidaysNewForm.$submitted || holidaysNew.holidaysNewForm.departureAirport.$touched)">
        <p ng-message="required" class="formValidation">Departure Airport Code is required.</p>
      </div>

      <div>
        <input
          type="text"
          name="arrivalAirport"
          id="arrivalAirport"
          ng-model="holidaysNew.holiday.arrivalAirport"
          placeholder="Arrival Airport"
          required
          >
      </div>

      <div class="ng-message-error" ng-messages="holidaysNew.holidaysNewForm.arrivalAirport.$error" ng-show="(holidaysNew.holidaysNewForm.$submitted || holidaysNew.holidaysNewForm.arrivalAirport.$touched)">
        <p ng-message="required" class="formValidation">Arrival Airport Code is required.</p>
      </div>

      <div class="departure">
        <label for="departureDate">Departure Date</label><br>
        <date-input
          label="'Your return Date:'"
          date="holidaysNew.holiday.departureDate"
          id="departureDate"
          >
        </date-input>
      </div>

      <div class="ng-message-error" ng-messages="holidaysNew.holidaysNewForm.departureDate.$error" ng-show="(holidaysNew.holidaysNewForm.$submitted || holidaysNew.holidaysNewForm.departureDate.$touched)">
        <p ng-message="required" class="formValidation">Departure Date is required.</p>
      </div>

      <div class="return">
        <label for="returnDate">Return Date</label><br>
        <date-input
          label="'Your return Date:'"
          date="holidaysNew.holiday.returnDate"
          id="returnDate"
          >
        </date-input>
      </div>

      <div class="ng-message-error" ng-messages="holidaysNew.holidaysNewForm.returnDate.$error" ng-show="(holidaysNew.holidaysNewForm.$submitted || holidaysNew.holidaysNewForm.returnDate.$touched)">
        <p ng-message="required" class="formValidation">Return Date is required.</p>
      </div>

      <button class="button" id="newHolidayButton">Create</button>
    </form>
  </div>
</div>
