<div id="holidaysBackground">
  <img ng-src="{{ holidaysShow.holiday.cover_photo }}" alt="{{ holidaysShow.holiday.location}}" class="holidaysBackground">
    <h1>Welcome to {{ holidaysShow.holiday.location }}</h1>
</div>

<section id="holidaysShow">
  <div id="description">
    <div id="description1">
      <p>{{ holidaysShow.holiday.description }}</p>
    </div>
  </div>
    <div id="info">
      <div class="info1 row">
        <div class="col-sm-12 col-md-4 col-lg-4 info2">
          <h2>Closest Airport</h2>
          <p>{{ holidaysShow.holiday.arrivalAirport }}</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 info2">
          <h2>Attractions</h2>
          <p>{{ holidaysShow.holiday.attractions }}</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 info2">
          <h2>Best time of the year</h2>
          <p>{{ holidaysShow.holiday.when_to_go }}</p>
        </div>
      </div>
    </div>
  <!-- <div>
    <p><span>Departure Date: </span>{{ holidaysShow.holiday.departureDate }}</p>
    <p><span>Return Date: </span>{{ holidaysShow.holiday.returnDate }}</p>
  </div> -->
</section>

<section id="holidaysShowButtonsSection">
  <div id="holidaysShowButtons">
    <div id="holidayButtons">
      <button ui-sref="flightsShow({ id: holidaysShow.holiday.id })">Get Flights</button>
      <button ui-sref="holidaysEdit({ id: holidaysShow.holiday.id })">Edit Holiday</button>
      <button ng-click="holidaysShow.delete()">Delete</button>
    </div>
  </div>
</section>

<section class="by">
  <div>
    <a ui-sref="usersShow({ id: holidaysShow.holiday.user.id })">Discovered By: <span id="holidayBy">{{ holidaysShow.holiday.user.username }}</span>
      <img ng-src="{{ holidaysShow.holiday.user.image_src }}" id="discoveredBy">
    </a>
  </div>
</section>

<section id="holidaysMultipleImages">
  <div class="row">
    <div>
      <div class="col-lg-6">
        <img ng-src="{{ holidaysShow.holiday.image_one }}" alt="{{ holidaysShow.holiday.location }}" class="holidaysMultipleImages">
      </div>
      <div class="col-lg-6">
        <img ng-src="{{ holidaysShow.holiday.image_two }}" alt="{{ holidaysShow.holiday.location }}" class="holidaysMultipleImages">
      </div>
      <div class="col-lg-6">
        <img ng-src="{{ holidaysShow.holiday.image_three }}" alt="{{ holidaysShow.holiday.location }}" class="holidaysMultipleImages">
      </div>
      <div class="col-lg-6">
        <img ng-src="{{ holidaysShow.holiday.image_four }}" alt="{{ holidaysShow.holiday.location }}" class="holidaysMultipleImages">
      </div>
    </div>
  </div>
</section>

<section id="holidaysShowReviews">
  <div>
    <div id="reviews">
      <h1>Reviews</h1>
      <ul>
        <li ng-repeat="comment in holidaysShow.holiday.comments" class="comment">{{ comment.body }} ~ <strong>{{ comment.user.username }}</strong><button ng-click="holidaysShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id">Delete</button></li>
      </ul>
    </div>
    <div id="AddComment">
      <div ng-if="main.isAuthenticated()">
        <h2>Add Comment</h2>
        <form ng-submit="holidaysShow.addComment()">
          <textarea type="text" name="body" ng-model="holidaysShow.comment.body" placeholder="Review"></textarea><br>
          <div>
            <button class="createPostButton">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
