<section>
  <div class="holidaysShow">
    <h1>Holiday Show</h1>

    <img ng-src="{{ holidaysShow.holiday.cover_photo }}" alt="{{ holidaysShow.holiday.location }}">

    <h2>Location: {{ holidaysShow.holiday.location }}</h2>
    <p>Nearest Airport: {{ holidaysShow.holiday.nearest_airport }}</p>
    <p>Departure Date: {{ holidaysShow.holiday.departureDate }}</p>
    <p>Return Date: {{ holidaysShow.holiday.returnDate }}</p>
    <p>Departure Airport: {{ holidaysShow.holiday.departureAirport }}</p>
    <p>Arrival Airport: {{ holidaysShow.holiday.arrivalAirport }}</p>
    <p>Attractions: {{ holidaysShow.holiday.attractions }}</p>
    <p>Description: {{ holidaysShow.holiday.description }}</p>
    <p>When to Go?: {{ holidaysShow.holiday.when_to_go }}</p>

    <img ng-src="{{ holidaysShow.holiday.image_one }}" alt="{{ holidaysShow.holiday.location }}">
    <img ng-src="{{ holidaysShow.holiday.image_two }}" alt="{{ holidaysShow.holiday.location }}">
    <img ng-src="{{ holidaysShow.holiday.image_three }}" alt="{{ holidaysShow.holiday.location }}">
    <img ng-src="{{ holidaysShow.holiday.image_four }}" alt="{{ holidaysShow.holiday.location }}">
    <p>Created By: {{ holidaysShow.holiday.user.full_name }}</p>

    <button ui-sref="holidaysEdit({ id: holidaysShow.holiday.id })">Edit</button>
    <button ng-click="holidaysShow.delete()">Delete</button>
    <button ui-sref="flightsShow({ id: holidaysShow.holiday.id })">Get Flights</button>
  </div>
</section>

<section>
    <div>
      <h2>Comments</h2>
      <ul>
        <li ng-repeat="comment in holidaysShow.holiday.comments">{{ comment.body }} - <strong>{{ comment.user.username }}</strong><button ng-click="holidaysShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id">Delete</button></li>
      </ul>
    </div>

    <div ng-if="main.isAuthenticated()">
      <h2>Add Comment</h2>
      <form ng-submit="holidaysShow.addComment()">
        <textarea type="text" name="body" ng-model="holidaysShow.comment.body"></textarea><br>
        <button>Create</button>
      </form>
    </div>
</section>

<!-- <div id="map"></div> -->
