<div id="groupsEditBackground">
  <div id="groupsEditForm">
    <h1>Edit Your Group</h1>
    <form name="groupsEdit.groupsEditForm" class="groupsEditForm" ng-submit="groupsEdit.update()" novalidate>
      <div>
        <input
          type="name"
          name="name"
          id="name"
          ng-model="groupsEdit.group.name"
          placeholder="Group Name"
          required
          >
      </div>
      
      <div class="ng-message-error" ng-messages="groupsEdit.groupsEditForm.name.$error" ng-show="(groupsEdit.groupsEditForm.$submitted || groupsEdit.groupsEditForm.name.$touched)">
        <p ng-message="required" class="formValidation">Your group name is required.</p>
      </div>

      <!-- <div>
        <button class="button" id="updateGroupButton">Update your Group</button>
      </div> -->
    </form>

    <div class="col s6 searchUsers">

      <div id="search-bar" ng-show="groupsEdit.showPreSearchBar()" class="toolbar-tools">
        <button ng-click="groupsEdit.initiateSearch();">
          <!-- <md-icon>search</md-icon> -->
          <span>Search Users</span>
        </button>
      </div>

      <div ng-show="groupsEdit.showSearchBar()" class="toolbar-tools search-bar">

        <button class="button" ng-click="groupsEdit.submitSearch()">
          <!-- <md-icon class="material-icons" arial-label="Enter search bar">search</md-icon> -->
        </button>

        <div class="input-container">
          <input
            id="search-input"
            type="text"
            class="query"
            name="groupsEdit"
            ng-model="groupsEdit.query"
            aria-label="Search for properties"
            />
          <div ng-show="groupsEdit.filteredLength > 0" class="char-counter">{{ groupsEdit.filteredLength }} / {{ groupsEdit.availableUsersLength }}</div>
        </div>

        <button class="icon-button" ng-click="groupsEdit.endSearch()">
          <!-- <md-icon>close</md-icon> -->
        </button>
      </div>
    </div>

    <hr>

    <div
      class="col s6 groupUsersToAdd"
      ng-if="(groupsEdit.query !== null) && user.id !== main.currentUser.id"
      ng-repeat="user in groupsEdit.filtered"
      >
      <div class="userSearchResults" ng-click="groupsEdit.addUser(user)">
        <img
          ng-src="{{ user.image_src }}"
          alt="{{ user.username }}"
          class="addUserImage"
          style="width: 40px; height: 40px;"
          >
        <h5>{{ user.username }}</h5>
      </div>
    </div>


    <div class="chosenUsers">
      <span class="headline">Chosen Users:</span>
    </div>

    <div
      class="col s6 chosenGroupUsers"
      ng-if="user.id !== main.currentUser.id"
      ng-repeat="user in groupsEdit.groupUsers track by $index"
      >
      <!-- ng-if="user.id !== main.currentUser.id" -->
      <div>
        <img
          ng-src="{{ user.image_src }}"
          alt="{{ user.username }}"
          class="chosenUsersImage"
          style="width: 40px; height: 40px;"
          >
        <h5>{{ user.username }}</h5>
        <smart-confirm confirm="groupsEdit.removeUser(user)">
          <!-- <icon class="material-icons">close</icon> -->

        </smart-confirm>
      </div>
    </div>

    <button
      class="button"
      id="updateGroupButton"
      ng-click="groupsEdit.update()"
      ng-disabled="groupsEdit.groupsEditForm.$invalid"
      >
      Update Group
    </button>
    <!-- <button
      class="button"
      ng-click="groupsEdit.group.groupName = ''"
      ng-disabled="groupsEdit.groupsEditForm.$invalid"
      >
      Clear Form
    </button> -->
  </div>
</div>
