<section class="groupsEditSection">
  <div class="groupsEditForm">
    <h1>Edit Your Group</h1>
    <form ng-submit="groupsEdit.update()">
      <div>
        <input type="name" name="name" id="name" ng-model="groupsEdit.group.name">
      </div>

      <div class="attendees">
        <h1>Users</h1>

        <label ng-repeat="user in groupsEdit.users">
          <input type="checkbox" name="attendees" checklist-model="groupsEdit.group.attendee_ids" checklist-value="user.id" >{{ user.username }}</label>
      </div>

      <div>
        <button>Update your Group</button>
      </div>
    </form>
  </div>
</section>
