<md-content class="groupsIndexSection">
  <md-card class="groupsIndexList">

    <md-card-title>
      <md-card-title-text>
        <h1>My Groups</h1>
      </md-card-title-text>
    </md-card-title>

    <md-card-content class="noGroups" ng-if="groupsIndex.groups.length === 0">
      <p>You have no groups created/attending.</p>
      <a ui-sref="groupsNew"><span class="dash"> - </span>Create One!<span class="dash"> - </span></a>
    </md-card-content>

    <md-card-content ng-if="groupsIndex.groups.length !== 0">
      <div ng-repeat="group in groupsIndex.groups track by $index">
        <a ui-sref="groupsShow({ id: group.id })"><span class="dash"> - </span>{{ group.name }}<span class="dash"> - </span></a>
      </div>
    </md-card-content>

  </md-card>
</md-content>
