<section>
  <div class="createGroupForm">
    <h1>New group</h1>
    <form ng-submit="groupsNew.create()">
      <div>
        <input type="name" name="name" id="name" ng-model="groupsNew.group.name" placeholder="Group Name">
      </div>

      <div class="attendees">
        <h1>Users</h1>
        <label ng-repeat="user in groupsNew.users">
          <input type="checkbox" name="attendees" checklist-model="groupsNew.group.attendee_ids" checklist-value="user.id">
          <!-- {{ user.full_name }} -->
          {{ user.username }}
        </label>
      </div>

      <button>Create Group</button>
    </form>
  </div>
</section>
