<section class="groupsNewSection">
  <div class="newGroupForm">
    <h1>New group</h1>
    <form ng-submit="groupsNew.create()">
      <div>
        <input type="name" name="name" id="name" ng-model="groupsNew.group.name" placeholder="Group Name">
      </div>

      <div class="attendees">
        <h3>Users</h3>
        <label ng-repeat="user in groupsNew.users" class="attendeesNames" id="attendeeName">
          <input type="checkbox" id="attendees" name="attendees" checklist-model="groupsNew.group.attendee_ids" checklist-value="user.id">
          {{ user.username }}
        </label>
      </div>

      <button class="newGroupButton">Create Group</button>
    </form>
  </div>
</section>
