<section>
  <div class="groupButtons">
    <h1>{{ usersGroupsShow.group.name }}</h1>
    <!-- <p>{{ usersGroupsShow.group.user }}</p> -->

    <div class="buttons">
      <button ng-click="usersGroupsShow.toggleAttending()" ng-if="main.isAuthenticated() && !usersGroupsShow.isAttending()">Attend</button>
      <button ng-click="usersGroupsShow.toggleAttending()" ng-if="main.isAuthenticated() && usersGroupsShow.isAttending()">Leave</button>
      <button ng-if="main.isAuthenticated()" ui-sref="groupsEdit({ id: usersGroupsShow.group.id })">Edit</button>
      <button ng-if="main.isAuthenticated()" ng-click="usersGroupsShow.delete()">Delete</button>
      <button ui-sref="holidaysNew({ id: usersGroupsShow.group.id })">New Holiday</button>
    </div>
  </div>
</section>

<section class="section">
  <div class="groupUsers">
    <h1>Users</h1>
    <div>
      <ul>
        <li ng-repeat="attendee in usersGroupsShow.group.attendees">
          {{ attendee.id }}
          <p><a ui-sref="usersShow({ id: attendee.id })"><img ng-src="{{ attendee.image_src }}" class="profile"></a></p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="groupHolidays">
    <h1>Holidays</h1>
    <ul>
      <li ng-repeat="holiday in usersGroupsShow.group.holidays">
        <a ui-sref="holidaysShow({ id: holiday.id })"><img ng-src="{{ holiday.cover_photo }}" class="holidayImage"></a>
      </li>
    </ul>
  </div>
</section>
