<div id="groupsBackground">
  <h1>Welcome to {{ usersGroupsShow.group.name }}</h1>
</div>

<section id="usersGroupsShowButtons">
  <div id="usersButtons">
    <button ng-click="usersGroupsShow.toggleAttending()" ng-if="main.isAuthenticated() && !usersGroupsShow.isAttending()">Attend</button>
    <button ng-click="usersGroupsShow.toggleAttending()" ng-if="main.isAuthenticated() && usersGroupsShow.isAttending()">Leave</button>
    <button ng-if="main.isAuthenticated()" ui-sref="groupsEdit({ id: usersGroupsShow.group.id })">Edit</button>
    <button ng-if="main.isAuthenticated()" ng-click="usersGroupsShow.delete()">Delete</button>
    <button ui-sref="holidaysNew({ id: usersGroupsShow.group.id })">New Holiday</button>
  </div>
</section>

<section id="usersGroupShowAttendees">
  <h1>Users</h1>
    <ul>
      <li ng-repeat="attendee in usersGroupsShow.group.attendees" id="users">
        <a ui-sref="usersShow({ id: attendee.id })"><img ng-src="{{ attendee.image_src }}" id="attendeesImage"></a>
      </li>
    </ul>
</section>

<section id="usersGroupShowHolidays">
  <h1>Holidays</h1>
  <div id="holidaysMultiImages">
    <ul class="row">
      <li ng-repeat="holiday in usersGroupsShow.group.holidays" class="col-sm-12 col-md-8 col-lg-4">
        <a ui-sref="holidaysShow({ id: holiday.id })">
          <img ng-src="{{ holiday.cover_photo }}" id="holidaysImage">
        </a>
      </li>
    </ul>
  </div>
</section>
