<md-content class="usersEditBackground">
  <md-card class="usersEditSection">

    <md-card-title>
      <md-card-title-text>
        <h1>Edit Profile</h1>
      </md-card-title-text>
    </md-card-title>

    <!-- <div style="background-image:url('{{ usersEdit.user.image_src }}')" id="userImage"></div> -->

    <form
      name="usersEdit.usersEditForm"
      ng-submit="usersEdit.update()"
      class="profilePhoto usersEditForm"
      novalidate
      >
      <div>
        <md-input-container class="md-block">
          <input
            type="text"
            name="username"
            id="username"
            ng-model="usersEdit.user.username"
            placeholder="Username"
            required
            >
        </md-input-container>
      </div>

      <div>
        <md-input-container class="md-block">
          <input
            type="email"
            name="email"
            id="email"
            ng-model="usersEdit.user.email"
            placeholder="Email"
            required
            >
        </md-input-container>
      </div>
      <div class="ng-message-error" ng-messages="usersEdit.usersEditForm.email.$error" ng-show="(usersEdit.usersEditForm.$submitted || usersEdit.usersEditForm.email.$touched)">
        <p ng-message="required" class="form-validation">Email is required</p>
        <p ng-message="email" class="form-validation">A valid email is required</p>
      </div>

      <div>
        <md-input-container class="md-block">
          <input
            type="password"
            name="password"
            id="password"
            ng-model="usersEdit.user.password"
            minlength="1"
            ng-minlength="1"
            placeholder="Password"
            required
            >
        </md-input-container>
      </div>

      <div class="ng-message-error" ng-messages="usersEdit.usersEditForm.password.$error" ng-show="(usersEdit.usersEditForm.$submitted || usersEdit.usersEditForm.password.$touched)">
        <p ng-message="required" class="form-validation">Password is required</p>
      </div>

      <div>
        <md-input-container class="md-block">
          <input
            type="password"
            name="password_confirmation"
            id="password_confirmation"
            ng-model="usersEdit.user.password_confirmation"
            minlength="1"
            ng-minlength="1"
            placeholder="Password Confirmation"
            required
            >
        </md-input-container>
      </div>

      <div class="ng-message-error" ng-messages="usersEdit.usersEditForm.password_confirmation.$error" ng-show="(usersEdit.usersEditForm.$submitted || usersEdit.usersEditForm.password_confirmation.$touched)">
        <p ng-message="required" class="form-validation">Password Confirmation is required</p>
      </div>

      <div>
        <md-input-container class="md-block">
          <input
            type="text"
            name="airport"
            id="airport"
            ng-model="usersEdit.user.airport"
            placeholder="Prefered Airport"
            required
            >
        </md-input-container>
      </div>

      <div>
        <md-input-container class="md-block">
          <textarea
            type="text"
            name="bio"
            id="bio"
            ng-model="usersEdit.user.bio"
            rows="2"
            maxlength="150"
            md-maxlength="150"
            md-select-on-focus
            placeholder="Write your bio"
            required
            >
          </textarea>
        </md-input-container>
      </div>

      <div class="choose button">
        Select an image
        <input
          class="upload md-button"
          type="file"
          base64
          name="base64"
          id="base64"
          placeholder="Upload a profile image"
          ng-model="usersEdit.user.base64"
          >
      </div>

      <md-card-actions class="usersEditButton">
        <md-button
          class="md-raised md-primary md-button md-ink-ripple"
          ng-click="usersEdit.update()"
          ng-disabled="usersEdit.usersEditForm.$invalid"
          id="updateUser"
          >
          Update
        </md-button>
      </md-card-actions>

    </form>
  </md-card>
</md-content>
