<section>
  <div class="usersEditProfile">

    <div class="profilePhoto">
      <img ng-src="{{ usersEdit.user.image_src }}">
    </div>

    <form ng-submit="usersEdit.update()" class="profilePhoto">

      <div>
        <input type="text" name="username" id="username" ng-model="usersEdit.user.username" placeholder="Username">
      </div>

      <div>
        <input type="text" name="firstname" id="firstname" ng-model="usersEdit.user.first_name" placeholder="Firstname">
      </div>

      <div>
        <input type="text" name="surname" id="lastname" ng-model="usersEdit.user.last_name" placeholder="Lastname">
      </div>

      <div>
        <input type="email" name="email" id="email" ng-model="usersEdit.user.email" placeholder="Email">
      </div>

      <div>
        <input type="password" name="password" id="password" ng-model="usersEdit.user.password" placeholder="Password">
      </div>

      <div>
        <input type="password" name="passwordConfirmation" id="password_confirmation" ng-model="usersEdit.user.password_confirmation" placeholder="Password Confirmation">
      </div>

      <div>
        <input type="text" name="airport" id="airport" ng-model="usersEdit.user.airport" placeholder="Prefered Airport">
      </div>

      <div>
        <textarea type="text" name="bio" ng-model="usersEdit.user.bio" placeholder="Biography"></textarea>
      </div>

      <div>
        <input type="file" base64 name="base64" id="base64" ng-model="usersEdit.user.base64">
      </div>

      <div class="usersEditButton">
        <button>Update</button>
      </div>

    </form>
  </div>
</section>
