<section class="usersShowSection">
  <div class="usersShowPage">
    <h1>{{ usersShow.user.full_name }}</h1>

    <div>
      <img ng-src="{{ usersShow.user.image_src }}" class="profileImage">
    </div>

    <p><strong>Email: </strong>{{usersShow.user.email}}</p>
    <p><strong>Full Name: </strong>{{ usersShow.user.full_name }}</p>
    <!-- <p><strong>Last Name: </strong>{{ usersShow.user.last_name }}</p> -->
    <p><strong>Bio: </strong>{{ usersShow.user.bio }}</p>
    <p><strong>Preferred Airport: </strong>{{ usersShow.user.airport }}</p>

    <div>
      <button ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.id" ui-sref="usersEdit({ id: usersShow.user.id })">Edit</button>
      <button ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.id" ng-click="usersShow.delete()">Delete</button>
      <button ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.id" ng-click="main.logout()" href="#">Logout</button>
    </div>

  </div>
</section>
