md-content.homeBackground {
  background-image: url('../images/background.jpg');
  @extend .background-styles;

  display: flex;
  justify-content: center;
  align-items: center;

  md-card {
    md-card-title {
      border-bottom: 2px solid $white;

      h1 {
        text-transform: uppercase;
        color: $white;
        font-weight: lighter;
        user-select: none;
      }
    }
    md-card-content {
      text-align: center;

      h5 {
        // align-items: center;
        // text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 200;
        color: $white;
        user-select: none;
      }
    }
  }
}

#login {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 21px;
  border-radius: 25%;
  border: 3px solid white;
  margin-top: 2px;

  &:hover {
    background-color: $white;
  }
}

#register {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 21px;
  border-radius: 25%;
  border: 3px solid white;
  margin-top: 2px;

  &:hover {
    background-color: $white;
  }
}


#usersAvatar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 22px;
  border-radius: 100%;
  border: 3px solid white;
  &:hover {
    background-color: $white;
  }
}

#showGroups {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 23px;
  border-radius: 100%;
  margin-top: 1px;
  border: 1px solid white;

  &:hover {
    background-color: black;
  }
}

#newGroup {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 21px;
  border-radius: 100%;
  border: 3px solid white;
  margin-top: 2px;

  &:hover {
    background-color: black;
  }
}
