md-content.homeBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.75) 100%, rgba(0, 0, 0, 0.75) 100%), url('../images/background.jpg');
  @include flexbox(flex, column, center, center);
  @include background(no-repeat, center, cover)
  min-height: 100%;

  md-card {
    md-card-title {
      border-bottom: 2px solid $white;

      h1 {
        text-transform: uppercase;
        color: $white;
        font-weight: lighter;
        user-select: none;
      }
    }
    md-card-content {
      text-align: center;

      h5 {
        // align-items: center;
        // text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 200;
        color: $white;
        user-select: none;
      }
    }
  }
}
