md-content.holidaysNewBackground {
  background-image: url('../images/background.jpg');
  @extend .background-styles;
  @include flexbox(flex, column, center, center);

  md-card.holidaysNewForm {
    padding: 1rem;

    md-card-title {
      margin-bottom: 1rem;
      border-bottom: 2px solid $white;
      color: $white;

      h1 {
        @extend .custom-header;
      }
    }
  }
}
