md-content.holidaysShowBackground {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100%;

  div.holidaysBackground {
    height: 100vh;
    @include flexbox(flex, column, center, center);

    h1 {
      @extend .custom-header;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      padding: 1rem;
      font-size: 2rem;
    }
  }

  // md-card.holidaysShowTitle {
  //   margin: 0;
  //   border-radius: 0;
  //   height: 100vh;
  //   @include flexbox(flex, column, center, center);
  //
  //   // md-card-title {
  //   //   margin: 0;
  //   //   padding: 2rem;
  //   //   background-color: rgba(0, 0, 0, 0.6);
  //   //
  //   //   h1 {
  //   //     @extend .custom-header;
  //   //   }
  //   //   // span {
  //   //   //   background-color: rgba(0, 0, 0, 0.75);
  //   //   //   padding: 30px;
  //   //   //   border-radius: 5px;
  //   //   //   font-size: 2rem;
  //   //   //   font-weight: 200;
  //   //   //   text-align: center;
  //   //   //   text-transform: uppercase;
  //   //   //   letter-spacing: 4px;
  //   //   //   color: $white;
  //   //   // }
  //   // }
  // }
  md-card.holidaysShow {
    text-align: center;

    div {
      // padding: 0.75rem 0;

      h3 {
        padding: 0.5rem 0;
        @extend .custom-header;
      }
      h5 {
        padding: 0.5rem 0;
      }
    }
  }
  md-card.holidaysShowButtons {
    md-card-actions {
      // padding: 1.5rem;
      // @include flexbox(flex, column, center, center);

      #getFlights {
        background-color: $skyscanner;
        color: $white;
      }
      button, .md-button {
        width: 100%;
        margin: 0.25rem auto;
      }
    }
  }
  md-card.createdBy {

    md-card-title {
      border-bottom: 2px solid $white;

      h1 {
        @extend .custom-header;
        font-size: 2rem;
      }
    }
    md-card-content {
      @include flexbox(flex, column, center, center);

      div.user-image {
        width: 55px;
        height: 55px;
      }
      span {
        padding-top: 0.5rem;
        color: $white;
      }
    }
  }
  md-card.holidaysShowReviews {
    md-card-title {
      border-bottom: 2px solid $white;

      h1 {
        @extend .custom-header;
        font-size: 2rem;
      }
    }
    md-card-content {
      .reviews {
        // @include flexbox(flex, column, center, center);
        display: flex;
        flex-direction: column;

        ul.comment {
          li {
            margin: 0.25rem auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            .comment-container {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              // align-items: center;
              border: 2px solid $white;
              border-radius: 5px;
              padding: 1rem;
              width: 100%;
              margin: 0 auto;
            }
            .comment-header {
              display: flex;
              flex-flow: column wrap;
              color: $white;

              .commentImage {
                padding: 0.25rem 0;
                width: 55px;
                height: 55px;
                margin: 0;
              }
              .commentBy {
                padding: 0.15rem 0;
                font-size: 0.7rem;
              }
              .commentTimestamp {
                padding: 0.15rem 0;
                font-size: 0.7rem;
              }
            }
            .comment-body {
              display: block;
              color: $white;

              .commentBody {
                padding: 0.25rem 0;
                font-size: 0.7rem;

                -ms-word-break: break-all;
                    word-break: break-all;
                /* Non standard for WebKit */
                    word-break: break-word;
                -webkit-hyphens: auto;
                   -moz-hyphens: auto;
                        hyphens: auto;
              }
            }
            .comment-footer {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              width: 10%;
            }

            smart-confirm {
              a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0 0.25rem;
                width: 30px;
                height: 30px;
                min-width: 30px;
                min-height: 30px;
                font-size: 20px;

                .md-icon {
                  width: 20px;
                  height: 20px;
                  min-width: 20px;
                  min-height: 20px;
                  font-size: 20px;
                }
              }
              div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .md-button {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  margin: 0 0.25rem;
                  width: 30px;
                  height: 30px;
                  min-width: 30px;
                  min-height: 30px;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      .postComment {
        h2 {
          @extend .custom-header;
          text-align: center;
          padding: 1.5rem 0;
        }
        form {
          // md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
          // md-input-container.md-input-focused label,
          // md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon,
          // md-input-container:not(.md-input-invalid).md-input-focused md-icon {}
          md-input-container {
            label {
              padding: 0 10px;
            }
          }
          md-input-container.md-input-focused label {
            // color: $black;
          }
          // input[type=date]::-webkit-inner-spin-button {
          //   -webkit-appearance: none;
          //   display: none;
          // }
          // input[type=date]::-webkit-calendar-picker-indicator {
          //   -webkit-appearance: none;
          //   display: none;
          // }
          textarea {
            padding: 10px;
            border: 1px solid $white;
            border-radius: 5px;

            // &::-webkit-input-placeholder { color: $black; }
            // &:-moz-placeholder { /* Firefox 18- */ color: $black; }
            // &::-moz-placeholder {  /* Firefox 19+ */ color: $black; }
            // &:-ms-input-placeholder { color: $black; }
            // &::placeholder { color: $black; }
          }
        }
      }
    }
  }
}
