md-content.holidaysEditBackground {
  @include flexbox(flex, column, flex-start, center);
  @include background(no-repeat, center, cover)
  min-height: 100%;

  md-card.holidaysEditForm {
    padding: 1rem;
    margin: 6rem 2rem 2rem 2rem;

    // back-button > button style
    back-button {
      padding: 0;

      button {
        margin: 0;
      }
    }

    md-card-title {
      margin-bottom: 1rem;
      border-bottom: 2px solid $white;
      color: $white;

      h1 {
        @extend .custom-header;
      }
    }
  }
}

@include breakpoint(iPhoneSE) {
  md-content.holidaysEditBackground {
    // height: 100%;

    md-card {
      margin: 5rem 2rem 2rem 2rem;
      min-width: 75%;

      md-card-title {
        padding: 1rem 0;
      }
    }
  }
}
