#searchFlightsBackground {
  @extend .background-styles;
  display: flex;
  justify-content: center;
  align-items: center;

  md-card-title {
    span {
      // background-color: $background-color;
      // padding: 30px;
      // border-radius: 5px;
      // font-size: 2rem;
      // font-weight: lighter;
      // text-align: center;
      // text-transform: uppercase;
      // letter-spacing: 4px;
      // color: $white;
    }
  }
  md-card.searchFlightsForm {
    // margin: 0 auto;
    // background-color: rgba(0, 0, 0, 0.9);
    // border-radius: 10px;
    // padding: 40px 50px;
    // width: 75%;

    width: 50%;
    padding: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);

    h1 {
      border: 0;
      // text-align: center;
      padding-bottom: 25px;
      font-size: 30px;
      font-weight: bold;
      color: $white;
    }
    p {
      color: $white;
      text-transform: capitalize;

      span:first-child {
        color: $white;
      }
      span:last-child {
        color: $yellow;;
      }
    }
    form {
      input {
        color: $white;
      }
      input[disabled] {
        cursor: no-drop;
        border-bottom: 1px solid #9e9e9e;
      }
      label {
        text-align: center;
        color: $white;
      }
    }
  }
}

md-content.flightsBoard {
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 10px;
  letter-spacing: 2px;
  margin: 25px auto 50px auto;
  width: 75%;

  h1 {
    color: $white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  h4 {
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
  }
  p {
    color: $white;
    background-color: rgba(26, 24, 24, 0.40);
    padding: 5px 0;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  em {
    color: $yellow;
  }
  #skyscanner {
    width: 16%;
    display: inline;
    float: right;
    margin-top: -48px;
    margin-right: 180px;
    outline: none;

    &:hover {
      background-color: $white;
      border-radius: 10px;
    }
  }
}
