#searchFlightsBackground {
  background-image: url('../images/background.jpg');
  @extend .background-styles;

  h1 {
    padding: 30px;
    top: 50%;
    letter-spacing: 4px;
    font-weight: lighter;
    background-color: $background-color;
    border-radius: 10px;
    width: 80%;
    margin: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: 2em;
  }
}
#searchFlightsForm {
  text-transform: uppercase;
  margin: 25px auto;
  background-color: rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  padding: 40px 50px;
  width: 75%;

  h1 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    font-size: 40px;
    font-weight: bold;
    color: $white;
  }
  .searchFlightsForm {
    text-align: center;
  }
  input[type='date'] {
    padding-left: 55px;
  }
}

#date {
  text-align: center;
}

#recommendation {
  color: $white;
  padding: 0;
  font-size: 18px;
  padding-bottom: 20px;
}

#skyscanner {
  color: red;
}

#toGo {
  color: $purple;
}

em {
  color: $yellow;
}

#flightsBoard {
  background-color: rgba(0, 0, 0, 0.20);
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  // margin: 50px auto;
  margin: 25px auto 50px auto;
  width: 75%;

  h1 {
    color: $white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  h4 {
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
  }
  p {
    color: $white;
    background-color: rgba(26, 24, 24, 0.40);
    padding: 5px 0;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  #skyscanner {
    width: 16%;
    display: inline;
    float: right;
    margin-top: -48px;
    margin-right: 180px;
    outline: none;
    &:hover {
      background-color: $white;
      border-radius: 10px;
    }
  }
}

#searchFlightsButton {
  &:before {
    background-image: url('../images/logos/skyscanner.png');
    height: 22px;
  }
  &:hover {
    color: transparent;
  }
}
