md-content.searchFlightsBackground {
  // @extend .background-styles;
  @include flexbox(flex, column, center, center);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  // height: 100%;

  back-button {
    button {
      margin: 0 0 0.5rem 0;
    }
  }

  md-card {
    display: block;
    position: relative;

    padding: 1rem;
    margin: 7rem 1rem;
    height: unset;
  }

  md-card.searchFlightsForm {
    // padding: 1rem;
    // margin: 7rem 1rem;
    // height: unset;

    md-card-title {
      padding: 0;
      border-bottom: 0;

      h1 {
        margin: 0;
        @extend .custom-header;
        font-size: 2rem;
      }
    }
    md-card-content {
      padding: 0;

      p {
        text-align: center;
        padding: 0 0 1rem 0;
        line-height: 2rem;

        span:first-child {
          color: $white;
          // font-size: calc(2vw - 5px);
        }
        span:last-child {
          color: $yellow;
          // font-size: calc(2vw - 5px);
        }
      }
      form label {
        // font-size: 0.9rem;
      }
    }
    md-card-actions {
      padding: 0;
      margin: 0;
    }
  }
  md-card.flightsBoard {
    // @include flexbox(flex, column, center, center);
    // // background-color: rgba(0, 0, 0, 0.75);
    // // font-family: 'Space Mono', monospace;
    // text-transform: uppercase;
    // padding: 0 0 1rem 0;
    // border-radius: 10px;
    // letter-spacing: 2px;
    // margin: 2.5rem auto;
    // width: 75%;

    padding: 1rem;

    md-card-title {
      padding: 0;
      border-bottom: 0;

      h1 {
        @extend .custom-header;
        font-size: 2rem;
        margin: 0;
      }
      a {
        margin: 0 auto;

        img {
          // width: 300px;
        }
      }
    }
    // md-card-content {}

    div.flights-header {
      @include flexbox(flex, row, center, center);
      // margin-bottom: 1rem;
    }

    h4 {
      // font-size: 25px;
      padding-bottom: 10px;
      text-align: center;
    }
    p {
      text-align: center;
      color: $white;
      background-color: rgba(26, 24, 24, 1);
      font-size: 0.65rem;
      // background-color: rgba(26, 24, 24, 0.4);
      // background-color: red;
      padding: 5px 0;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    em {
      color: $yellow;
    }
    #skyscanner {
      width: 200px;
    }
  }
  // .md-datepicker-calendar-pane.md-pane-open {}
}
