<a
  class="md-raised md-primary md-button md-ink-ripple"
  ng-hide="show"
  ng-click="show=true"
  ng-transclude
  aria-label="Confirm"
  >
  <!-- <icon class="material-icons">close</icon> -->
</a>

<div ng-show="show">
  <md-button
    class="raised warn button ink-ripple"
    ng-click="confirm(user); show = false"
    >
    <icon class="material-icons">check</icon>
  </md-button>
  <md-button
    class="raised primary button ink-ripple"
    ng-click="show = false"
    >
    <icon class="material-icons">close</icon>
  </md-button>
</div>
