<div id="attendeeShowBackground">
  <h1>Welcome to {{ attendeeShow.user.full_name }}'s profile</h1>
</div>

<section id="attendeeShowSection">
  <div style="background-image:url('{{ attendeeShow.user.image_src }}')" id="attendeeShowImage"></div>
</section>

<section id="attendeeShowHolidaySection">
  <h1>Holidays</h1>
  <div id="attendeeShowHolidaysMultiImages">
    <ul class="row">
      <li class="col-sm-12 col-md-4 col-lg-4" ng-repeat="holiday in attendeeShow.user.holidays">
        <div id="attendeeShowHolidaysImage" style="background-image:url('{{ holiday.cover_photo }}')">
          <div class="attendeeShowHolidayImageOverlay">
            <h4 id="attendeeShowHolidayName">{{ holiday.location }}</h4>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="attendeeShowGroupsAttending">
  <h1>Groups Attending</h1>
  <ul class="row">
    <li ng-repeat="group in attendeeShow.groups" class="col-sm-12 col-md-6 col-lg-4">
      <p id="attendeeShowGroupNames">{{ group.name }}</p>
    </li>
  </ul>
</section>
