md-content.loginBackground {
  background: linear-gradient($md-card-background 100%, $md-card-background 100%), url('../images/background.jpg');
  @include flexbox(flex, column, center, center);
  @include background(no-repeat, center, cover)
  min-height: 100%;

  md-card {
    padding: 1rem;
    min-width: 25%;
    // margin: 7rem 2rem 2rem 2rem;

    md-card-title {
      margin-bottom: 1rem;
      border-bottom: 2px solid $white;
      // border-bottom: 0;
      color: $white;
      padding: 1rem 0;

      h1 {
        @extend .custom-header;
      }
    }
    md-card-content {
      padding: 0;
      text-align: center;

      span {
        font-size: 0.7rem;
        color: $white;
      }
      a {
        font-size: 0.7rem;
        color: $yellow;
      }
      form {
        md-card-actions.loginBtn {
          .md-button, button {
            margin: 0.25rem auto;
          }
        }
      }
    }
    md-card-actions {
      #github {
        background-color: $github;
        color: $white;
        margin: 0.25rem auto;
      }
      #facebook {
        background-color: $facebook;
        color: $white;
        margin: 0.25rem auto;
      }
    }
  }
}

@include breakpoint(iPhoneSE) {
  md-content.loginBackground {
    // height: 100%;

    md-card {
      margin: 6rem 2rem;
      min-width: 80%;
    }
  }
}
