@import 'variables';

#loginBackground {
  background-image: url('../images/backgrounds/2.jpg');
  @extend .background-styles;
}

#loginForm {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
  padding: 10px 40px;
  width: 50%;
  margin: 150px auto 0 auto;
  h1 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    font-size: 40px;
    font-weight: bold;
  }
  p {
    color: $yellow;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.40);
    margin: 5px auto;
    border-radius: 10px;
    text-transform: capitalize;
  }
  .newTo {
    background-color: transparent;
    color: $black;
    padding: 5px;
    margin: 5px auto;
    text-transform: uppercase;
  }
}

#gitHubButton {
  &:before {
    background-image: url('../images/logos/github4.png');
    height: 22px;
  }
  &:hover {
    color: transparent;
  }
}

#facebookButton {
  &:before {
    background-image: url('../images/logos/facebook4.png');
    height: 22px;
  }
  &:hover {
    color: transparent;
  }
}

#signUpButton {
  &:before {
    background-image: url('../images/logos/register.png');
    height: 22px;
  }
  &:hover {
    color: transparent;
  }
}

#logInButton {
  &:before {
    background-image: url('../images/logos/login.png');
    height: 22px;
  }
  &:hover {
    color: transparent;
  }
}
