md-content.loginBackground {
  background-image: url('../images/background.jpg');
  @extend .background-styles;
  @include flexbox(flex, column, center, center);

  md-card {
    padding: 1rem;

    md-card-title {
      margin-bottom: 1rem;
      border-bottom: 2px solid $white;
      color: $white;

      h1 {
        @extend .custom-header;
      }
    }
    md-card-actions {
      margin: 0;

      #github {
        background-color: $github;
        color: $white;
      }
      #facebook {
        background-color: $facebook;
        color: $white;
      }
    }
    md-card-content {
      text-align: center;
      padding: 0.5rem;

      span {
        font-size: 0.7rem;
        color: $white;
      }
      a {
        font-size: 0.7rem;
        color: $yellow;
      }
    }
  }
}
