#registerBackground {
  background-image: url('../images/background.jpg');
  @extend .background-styles;

  .registerForm {
    width: 50%;
    padding: 1rem 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);

    md-card-title {
      margin: 0 auto;
      color: $white;
    }

    form {
      .choose {
        &:hover {
          border: 1px solid $yellow;
          color: $yellow;
        }
      }
      md-input-container {
        width: 100%;
        margin: 0.5rem 0;
        color: $white;

        input[type='password'] {
          font-size: 16px;
        }
        input[type='file'] {
          display: none;
          border: 1px solid $yellow;
        }
        input {
          border-color: $white;
          color: $white;
        }
        textarea, label {
          color: $white;
        }
        .md-errors-spacer {
          min-height: auto;
        }
      }
    }

    .login {
      text-align: center;
      padding-top: 1rem;

      span {
        color: $white;
      }
      a {
        color: $yellow;
      }
    }
  }
}
