md-content {
  background-image: url('../images/background.jpg');
  @extend .background-styles;

  #usersEditSection {
    width: 50%;
    padding: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);

    h1 {
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 25px;
      font-size: 40px;
      font-weight: bold;
    }
    div {
      p {
        color: $yellow;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.40);
        margin: 5px auto;
        border-radius: 10px;
        text-transform: capitalize;
      }
      strong {
        color: yellow;
      }
    }

    md-card-title {
      margin: 0 auto 1rem auto;
      color: $white;
    }

    form {
      md-input-container {
        width: 100%;
        margin: 0.5rem 0;
        color: $white;

        input[type='password'] {
          font-size: 16px;
        }
        input {
          border-color: $white;
          color: $white;
        }
        textarea, label {
          color: $white;
        }

        .md-errors-spacer {
          min-height: auto;
        }
      }
      .choose {
        background-color: $yellow;
        color: $black;
        border-color: $yellow;
      }
    }


    .usersShowButtons {
      padding-top: 50px;

      .md-button {
        // width: 100%;
      }
    }

    #updateUser {
      &:before {
        background-image: url('../images/logos/update.png');
        height: 22px;
      }
      &:hover {
        color: transparent;
      }
    }
    #camera {
      &:before {
        background-image: url('../images/logos/camera.png');
        height: 22px;
      }
      &:hover {
        color: transparent;
      }
    }
  }
}
