md-content.usersShowBackground {
  background: linear-gradient($md-card-background 100%, $md-card-background 100%), url('../images/background.jpg');
  @include flexbox(flex, column, center, center);
  @include background(no-repeat, center, cover)
  height: 100vh;

  md-card {
    // margin: 6rem 2rem 2rem 2rem;
    padding: 1rem;
    min-width: 25%;

    md-card-content {
      padding: 0.5rem 0;
      border-top: 1px solid $white; // #9e9e9e
      border-bottom: 1px solid $white;

      p {
        @include flexbox(flex, row, space-between, center);
        color: $yellow;
        text-transform: uppercase;

        strong {
          // text-transform: uppercase;
          color: $white;
        }
      }
    }
    md-card-actions {
      padding-top: 1rem;

      // .button-link {
      //   button {
      //     margin: 0.25rem auto;
      //   }
      // }

      button {
        padding: 0 0.5rem;
      }

      #deleteUser, #logout {
        margin: 0.25rem auto;
      }
    }
    #userImage {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: $white;
      // width: calc(100% / 3 * 2);
      // height: calc(100% / 3 * 2);
      // width: 150px;
      // height: 150px;
      min-width: 100px;
      min-height: 100px;
      margin: 1rem auto;
      border: 3px solid $white;
      border-radius: 100%;
    }
  }
}

@include breakpoint(iPhoneSE) {
  md-content.usersShowBackground {

    md-card {
      margin: 5rem 2rem 2rem 2rem;
      min-width: 75%;
    }
  }
}
