md-content.usersEditBackground {
  background: linear-gradient($md-card-background 100%, $md-card-background 100%), url('../images/background.jpg');
  @include flexbox(flex, column, flex-start, center);
  @include background(no-repeat, center, cover)
  min-height: 100%;

  md-card {
    padding: 1rem;
    margin: 6rem 2rem 2rem 2rem;

    md-card-title {
      margin-bottom: 1rem;
      border-bottom: 2px solid $white;
      color: $white;
      padding: 1rem 0;

      h1 {
        @extend .custom-header;
      }
    }
    md-card-actions {
      padding-top: 0.5rem;
    }
  }
}
