<md-content class="loginBackground">
  <md-card class="loginForm">

    <md-card-title>
      <md-card-title-text>
        <h1>Login</h1>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <form class="loginForm" name="login.loginForm" ng-submit="login.submit()" novalidate>
        <div>
          <md-input-container class="md-block">
            <input
              type="text"
              name="email"
              id="email"
              ng-model="login.credentials.email"
              placeholder="Email"
              required
              >
          </md-input-container>
        </div>

        <div class="ng-message-error" ng-messages="login.loginForm.email.$error" ng-show="(login.loginForm.$submitted || login.loginForm.email.$touched)">
          <p ng-message="required" class="form-validation">Your email is required.</p>
        </div>

        <div>
          <md-input-container class="md-block">
            <input
              type="password"
              name="password"
              id="password"
              ng-model="login.credentials.password"
              placeholder="Password"
              required
              >
          </md-input-container>
        </div>

        <div class="ng-message-error" ng-messages="login.loginForm.password.$error" ng-show="(login.loginForm.$submitted || login.loginForm.password.$touched)">
          <p ng-message="required" class="form-validation">Your password is required.</p>
        </div>

        <md-card-actions class="loginBtn">
          <md-button
            class="md-raised md-primary md-button md-ink-ripple"
            ng-click="login.submit()"
            ng-disabled="login.loginForm.$invalid"
            >
            Login
          </md-button>
        </md-card-actions>
      </form>
    </md-card-content>

    <md-card-actions class="oauth">
      <md-button ng-click="login.authenticate('github')" class="md-raised md-button md-ink-ripple" id="github">Login with Github</md-button>
      <md-button ng-click="login.authenticate('facebook')" class="md-raised md-button md-ink-ripple" id="facebook">Login with Facebook</md-button>
    </md-card-actions>

    <md-card-content class="register">
      <span>New to this site?</span>
      <a ng-if="!main.isAuthenticated()" ui-sref="register">Sign up!</a>
    </md-card-content>

  </md-card>
</md-content>
