<div id="loginBackground">
<section class="loginSection">
  <div id="loginForm">
    <h1>Log In</h1>

    <form name="login.loginForm" ng-submit="login.login()" novalidate>

      <div>
        <input type="text" name="email" id="email" ng-model="login.credentials.email" placeholder="Email" required>
      </div>
      <div class="ng-message-error" ng-messages="login.loginForm.email.$error" ng-show="(login.loginForm.$submitted || login.loginForm.email.$touched)">
        <p ng-message="required" class="formValidation">Your email is required.</p>
      </div>

      <div>
        <input type="password" name="password" id="password" ng-model="login.credentials.password" placeholder="Password" required>
      </div>
      <div class="ng-message-error" ng-messages="login.loginForm.password.$error" ng-show="(login.loginForm.$submitted || login.loginForm.password.$touched)">
        <p ng-message="required" class="formValidation">Your password is required.</p>
      </div>

      <div>
        <button class="button" id="logInButton">Login</button>
      </div>
    </form>

    <div>
      <button ng-click="login.authenticate('github')" class="button" id="gitHubButton">Login with Github</button>
      <button ng-click="login.authenticate('facebook')" class="button" id="facebookButton">Login with Facebook</button>
    </div>
    <div>
      <p>New to this website?</p>
      <button ng-if="!main.isAuthenticated()" ui-sref="register" class="button" id="signUpButton">Create an account</button>
    </div>
  </div>
</section>
</div>
