<div class="registerBackground"></div>
<section>
  <div class="registerForm">
    <h1>Start your Adventure Today</h1>
    <form ng-submit="login.register()">

      <div>
        <input type="text" ng-model="login.user.username" placeholder="Username">
      </div>

      <div>
        <input type="text" name="first_name" id="first_name" ng-model="login.user.first_name" placeholder="First Name">
      </div>

      <div>
        <input type="text" name="last_name" id="last_name" ng-model="login.user.last_name" placeholder="Last Name">
      </div>

      <div>
        <input type="text" name="email" id="email" ng-model="login.user.email" placeholder="Email">
      </div>

      <div>
        <input type="password" name="password" id="password" ng-model="login.user.password" placeholder="Password">
      </div>

      <div>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" ng-model="login.user.password_confirmation" placeholder="Password Confirmation">
      </div>

      <div>
        <input type="text" name="airport" id="airport" ng-model="login.user.airport" placeholder="Preferred Airport">
      </div>

      <div>
        <textarea type="text" name="bio" id="bio" ng-model="login.user.bio" placeholder="Biography"></textarea>
      </div>

      <div>
        <input type="file" base64 name="base64" id="base64" ng-model="login.user.base64">
      </div>

      <div>
        <button>Register</button>
      </div>
    </form>

    <div class="loginButton">
      <p>Already Registered?</p>
      <button ng-if="!main.authenticate()" ui-sref="login">Login Here</button>
    </div>
  </div>
</section>
