<!DOCTYPE html>
<html ng-app="holiday">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Palm Trees</title>
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5uFR8sHqcDYKASWyXmpLZM17kfstkqVE"></script> -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main" ng-class="main.pageName" class="site">
    <header>
      <nav>
        <ul>
          <li ng-if="main.isAuthenticated()" class="left">
            <a ui-sref="groupsIndex({ id: main.currentUser.id })">
              <div style="background-image:url('../images/logos/group1.png')" id="showGroups"></div>
            </a>
          </li>
          <li ng-if="main.isAuthenticated()" class="newgroup">
            <a ui-sref="groupsNew">
              <div style="background-image:url('../images/logos/addgroup.png')" id="newGroup"></div>
            </a>
          </li>
          <li ng-if="!main.isAuthenticated()" class="left">
            <a ui-sref="login"><div style="background-image:url('../images/logos/login.png')" id="login"></div></a>
          </li>
          <li ng-if="!main.isAuthenticated()" class="right">
            <a ui-sref="register">
            <div style="background-image:url('../images/logos/register.png')" id="register"></div>
          </a>
          </li>
          <li ng-if="main.isAuthenticated()" class="right">
            <a ui-sref="usersShow({ id: main.currentUser.id })">
              <div style="background-image:url('{{ main.currentUser.image_src }}')" id="usersAvatar"></div>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="message" ng-if="main.message">
      <div>{{ main.message }}</div>
    </div>
    <main ui-view class="site-content">
    </main>
    <footer>&copy; Palm Trees</footer>
  </body>
</html>
