.loginForm {
  background-color: rgba(0, 0, 0, 0.30);
  border-radius: 25px;
  margin: 0 auto;
  max-width: 50%;
  .createAccountButton {
    margin-bottom: 30px;
  }
  .loginHereButton {
    margin-bottom: 30px;
  }
}

.registerForm {
  background-color: rgba(0, 0, 0, 0.30);
  border-radius: 25px;
  margin: 0 auto;
  max-width: 50%;
  .createAccountButton {
    margin-bottom: 30px;
  }
  .loginHereButton {
    margin-bottom: 30px;
  }
}
