.background-styles {
  background-repeat: no-repeat;
  // background-position: center;
  // background-position: center top;
  background-position: center center;
  background-size: cover;
  display: block;
  width: 100vw;
  height: 100vh;
}

.custom-header {
  align-self: center;
  text-transform: uppercase;
  color: $white;
  font-weight: 100;
  user-select: none;
}
