// footer {
//   text-align: center;
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.30);
//   color: #fff;
//   padding: 15px 0;
//   p {
//     letter-spacing: 4px;
//   }
// }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
