#holidaysNewBackground {
  background-image: url('../images/backgrounds/5.jpg');
  @extend .background-styles;
}

#holidaysNewForm {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 40px 50px;
  width: 90%;
  h1 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    font-size: 40px;
    font-weight: bold;
    color: $white;
  }
  div {
    input {
      margin: 10px 0;
    }
  }
  button {
    margin-top: 20px;
  }
}

#image_four {
  margin-bottom: 0;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.leftColumn {
  float: left;
  display: block;
  clear: left;
  width: 48%;
}

.rightColumn {
  float: right;
  display: block;
  clear: right;
  width: 48%;
}

label {
  color: yellow;
}

#departureDate {
  padding: 2.5px;
}

#returnDate {
  padding: 2.5px;
}

.departure {
  padding-top: 34px;
  text-align: center;
}

.return {
  text-align: center;
  padding-top: 33px
}

#newHolidayButton {
  &:before {
    background-image: url('../images/logos/add2.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}
