#homeBackground {
  background-image: url('../images/home.jpg');
  @extend .background-styles;
  h1 {
    padding: 30px;
    top: 50%;
    letter-spacing: 4px;
    font-weight: lighter;
    background-color: $background-color;
    border-radius: 10px;
    width: 80%;
    margin: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: 2em;
  }
  p#discover {
    font-size: 25px;
    position: absolute;
    font-weight: 900;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
