@media only screen and (min-width: 320px) and (max-width: 568px) {

  header {
    nav {
      ul {
        li {
          margin-top: 5px;
          margin-left: 5px;
          margin-right: 6px;
        }
        li.newgroup {
          left: 49%;
        }
      }
    }
  }

  form {
    div {
      input {
        padding: 1px 0 1px 0;
      }
      input[type="file"] {
        height: 30px;
      }
      textarea {
        padding: 0;
        height: 30px;
      }
      p {
        font-size: 15px;
        color: red;
        padding: 0;
        text-transform: capitalize;
      }
    }
  }

  button {
    margin: 5px 0;
    width: 100%;
    height: 25px;
    font-weight: normal;
    font-size: 12px;
  }

  footer {
    font-size: 10px;
    padding: 12px 0;
    height: 3em;
    margin-top: -3em;
  }

  #loginForm {
    padding: 10px;
    width: 90%;
    .newTo {
      font-size: 15px;
      padding: 0;
    }
    h1 {
      font-size: 30px;
      padding: 0 0 10px 0;
    }
  }
  #registerForm {
    padding: 10px;
    width: 90%;
    // top: 50%;
    margin: 60px auto 0 auto;
    h1 {
      font-size: 18px;
      padding-bottom: 5px;
    }
    .alreadyReg {
      font-size: 15px;
      padding: 0;
    }
  }
  #registerBackground {
    height: 150vh;
  }

  .choose {
    padding-top: 4px;
    height: 25px;
    font-size: 12px;
  }

  #usersShowSection {
    padding: 10px;
    width: 90%;
    h1 {
      font-size: 12px;
      padding-bottom: 5px;
    }
    p {
      padding: 5px;
      font-size: 12px;
    }
    #userImage {
      margin: 0 auto 5px auto;
    }
    .usersShowButtons {
      padding-top: 5px;
    }
  }

  #groupsNewBackground {
    height: 100vh;
  }

  #groupsEditBackground {
    height: 130vh;
  }

  #groupsEditAteendeeImage {
    padding: 20px;
  }

  #groupsNewAteendeeImage {
    padding: 20px;
  }

  #usersEditSection {
    width: 90%;
    padding: 10px;
    h1 {
      font-size: 15px;
    }
    #userImage {
      margin: 0 auto 5px auto;
    }
  }

  #groupsEditForm {
    width: 90%;
    margin: auto;
    padding: 10px;
    h1 {
      font-size: 18px;
      padding-bottom: 10px;
    }
  }

  #groupsNewForm {
    width: 90%;
    padding: 10px;
    margin: auto;
    h1 {
      font-size: 20px;
    }
  }

  .attendees {
    text-align: center;
    padding: 5px;
    .attends {
      .row {
        flex-wrap: nowrap;
      }
    }
    h3 {
      font-size: 15px;
    }
    label#attendeeName {
      font-size: 10px;
      padding: 0;
      display: block;
      position: relative;
    }
    input#attendees[type="checkbox"] {
      width: 20px;
      top: -1px;
      margin: 5px auto;
      display: block;
    }
  }

  #attendeeShowBackground {
    h1 {
      font-size: 15px;
      margin: auto;
    }
  }

  #attendeeShowSection {
    padding: 10px;
    width: 90%;
    #attendeeShowImage {
      padding: 20%;
      margin: 0 auto;
    }
  }

  #groupsShowButtons {
    padding: 10px;
    width: 90%;
  }

  #groupShowAttendees {
    padding: 10px;
    width: 90%;
  }

  #groupShowHolidays {
    padding: 10px;
    width: 90%;
  }

  #attendeeShowHolidaySection {
    padding: 10px;
    width: 90%;
    margin-bottom: 50px;
    h1 {
      font-size: 1.5em;
    }
  }

  #attendeeShowGroupsAttending {
    padding: 10px;
    width: 90%;
    margin-bottom: 50px;
    h1 {
      font-size: 1.5em;
    }
  }

  #attendeeShowGroupNames {
    font-size: 15px;
  }

  #groupsIndexSection {
    h2 {
      font-size: 15px;
    }
    #groupsIndexList {
      width: 90%;
      margin: auto;
      top: 50%;
      padding: 10px;
      h1 {
        font-size: 20px;
        padding-bottom: 15px;
      }
    }
  }

  #groupsBackground {
    h1 {
      font-size: 20px;
      margin: auto;
      padding: 15px;
    }
  }

  #usersGroupsShowButtons {
    padding: 10px;
    width: 90%;
  }

  #usersGroupShowHolidays {
    #holidaysMultiImages {
      padding: 0;
    }
  }

  #usersButtons {
    padding: 10px;
    width: 100%;
  }

  #usersGroupShowAttendees {
    padding: 10px;
    width: 90%;
  }

  #attendeesImage {
    padding: 10%;
    width: 20%;
  }

  #usersGroupShowHolidays {
    padding: 10px;
    width: 90%;

  }

  #holidaysImage {
    margin: 10px auto;
    width: 40%;
  }

  #addHolidaysImage {
    margin: 10px auto;
    width: 40%;
  }

  #holidaysNewBackground {
    height: 190vh;
  }

  #holidaysEditBackground {
    height: 190vh;
  }

  #holidayEditForm {
    top: 50%;
    padding: 25px;
    h1 {
      font-size: 20px;
    }
    #departureDate {
      padding: 0;
      padding-left: 25px;
    }
    #returnDate {
      padding: 0;
      padding-left: 25px;
    }
  }

  #holidaysNewForm {
    top: 50%;
    padding: 25px;
    h1 {
      font-size: 20px;
    }
    #departureDate {
      padding: 0;
      padding-left: 25px;
    }
    #returnDate {
      padding: 0;
      padding-left: 25px;
    }
  }

  .leftColumn {
    float: none;
    display: block;
    clear: left;
    width: 100%;
  }

  .rightColumn {
    float: none;
    display: block;
    clear: left;
    width: 100%;
  }

  .departure {
    padding-top: 0;
  }

  .return {
    padding-top: 0;
  }

  #searchFlightsButton:before {
    background-image: none;
  }

  #holidaysBackground {
    h1 {
      font-size: 20px;
      margin: auto;
      padding: 15px;
    }
  }

  #holidaysShow {
    width: 90%;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
      padding: 10px;
    }
    #description {
      padding: 10px;
    }
    #info {
      padding: 10px;
    }
    .info1 {
      margin: 0;
    }
  }

  #holidaysShowButtonsSection {
    #holidaysShowButtons {
      width: 90%;
      margin: auto;
      button {
        width: 100%;
      }
    }
  }

  .by {
    width: 90%;
    padding: 10px;
  }

  #holidaysMultipleImages {
    padding: 10px;
    width: 90%;
  }

  #holidaysShowReviews {
    padding: 10px;
    h1 {
      font-size: 25px;
    }
    ul {
      li {
        button {
          width: 30%;
        }
      }
    }
  }

  #holidaysShowReviews {
    width: 90%;
    #AddComment {
      form {
        textarea {
          width: 100%;
        }
        button {
          width: 100%;
        }
      }
    }
  }

  #deleteComment {
    .button:before {
      background-image: none;
    }
  }

  #postButton:before {
    background-image: none;
  }

  #searchFlightsBackground {
    h1 {
      font-size: 20px;
      margin: auto;
      padding: 15px;
    }
  }

  .button:before {
    background-image: none;
  }

  #searchFlightsForm {
    width: 90%;
    padding: 15px;
    h1 {
      font-size: 25px;
    }
  }

  #flightsBoard  {
    width: 90%;
    h1 {
      font-size: 20px;
    }
    #skyscanner {
      width: 50%;
      margin-top: -15px;
      margin-right: 65px;
    }
    p {
      font-size: 15px;
    }
  }

  #getFlights:before {
    background-image: none;
  }

  #editHoliday:before {
    background-image: none;
  }

  #deleteHoliday:before {
    background-image: none;
  }

  #createGroupButton:before {
    background-image: none;
  }

  #leaveGroup:before {
    background-image: none;
  }

  #editGroup:before {
    background-image: none;
  }

  #deleteGroup:before {
    background-image: none;
  }

  #editUser:before {
    background-image: none;
  }

  #deleteUser:before {
    background-image: none;
  }

  #logout:before {
    background-image: none;
  }

  #camera:before {
    background-image: none;
  }

  #updateUser:before {
    background-image: none;
  }

  #logInButton:before {
    background-image: none;
  }

  #gitHubButton:before {
    background-image: none;
  }

  #signUpButton:before {
    background-image: none;
  }

  #cameraButton:before {
    background-image: none;
  }

  #registerButton:before {
    background-image: none;
  }

  #signInButton:before {
    background-image: none;
  }

  #homeBackground {
    h1 {
      padding: 15px 10px 15px 10px;
      width: 90%;
      margin: auto;
    }
    p#discover {
      font-size: 15px;
      position: relative;
    }
  }
  h4#holidayName {
    font-size: 12px;
    padding: 5px;
  }
}
