#loginBackground {
  background-image: url('../images/backgrounds/2.jpg');
  @extend .background-styles;
}

#loginForm {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
  padding: 40px 50px;
  width: 50%;
  h1 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    font-size: 40px;
    font-weight: bold;
  }
}

#gitHubButton {
  &:before {
    background-image: url('../images/logos/github4.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}

#facebookButton {
  &:before {
    background-image: url('../images/logos/facebook4.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}

#signUpButton {
  &:before {
    background-image: url('../images/logos/register.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}

#logInButton {
  &:before {
    background-image: url('../images/logos/login.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}
