md-content {
  overflow: unset;
}
// .md-dialog-container {
//   position: absolute;
//   top: 0 !important;
//   left: 0;
// }
md-card {
  border-radius: 15px;
}

.md-button {
  border-radius: 4px;
}

button:focus {
  background-color: transparent;
}
