md-content {
  overflow: unset;
  padding: 0 0 1rem 0;

  h1, h1.main-title {
    margin: 2rem;
    text-align: center;
  }

  md-card {
    background-color: $md-card-background;
    border-radius: 5px;
    margin: 2rem;

    md-card-title, md-card-content {
      padding: 1.5rem;
    }

    // md-card-header {
    //   md-card-avatar {}
    //   md-user-avatar {}
    //   md-card-actions {}
    //   md-icon {
    //
    //   }
    // }
    // md-card-header-text {
    //   md-title {}
    //   md-subhead {}
    // }
    // img {}
    md-card-title {
      border-bottom: 2px solid $white;

      // md-card-title-text {
      //   md-title {}
      //   md-subhead {}
      // }
    }
    // md-card-title-media {
    //   md-media-sm {}
    //   md-media-md {}
    //   md-media-lg {}
    //   md-media-xl {}
    // }
    // md-card-content {}
    md-card-actions {
      padding: 1.5rem;
      @include flexbox(flex, column, center, center);

      a {
        width: 100%;
        margin: 0.25rem auto;
      }
      // .md-button, button {
      //   width: 100%;
      //   margin: 0.25rem auto;
      // }

      // md-card-icon-actions {}
      // button {
        // margin: 0.25rem auto !important;
      // }
    }
  }
}

.md-button {
  border-radius: 4px;
  margin: 0.4rem 0;
}

button:focus {
  background-color: transparent;
}

md-dialog {
  .md-toolbar-tools {
    h2 {
      color: $black;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  md-toolbar {

  }
  md-dialog-content {
    p {
      font-size: 0.65rem;
    }
  }
  md-dialog-actions {
    padding: 0 16px;
  }
}

.md-char-counter {
  span {
    font-size: 0.7rem;
    color: $white;
  }
}

.md-toolbar-tools {
  padding: 0;

  md-icon {
    color: $white;
  }
  .md-button {
    padding: 0;
    color: $white;

    &:last-child {
      margin: 0;
    }
    &:first-child {
      margin: 0;
    }
  }
  .md-char-counter {
    color: $white;
  }
  #search-input {
    height: 2rem;
  }
}
