#registerBackground {
  background-image: url('../images/backgrounds/2.jpg');
  @extend .background-styles;
}

#registerForm {
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
  padding: 20px 40px;
  h1 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
  }
  p {
    padding: 20px 0 0 0;
  }
  .formValidation {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#registerButton {
  &:before {
    background-image: url('../images/logos/register.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}

#cameraButton {
  &:before {
    background-image: url('../images/logos/camera.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}

#signInButton {
  &:before {
    background-image: url('../images/logos/login.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}
