#usersShowBackground {
  background-image: url('../images/backgrounds/2.jpg');
  @extend .background-styles;
}
#usersShowSection {
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 40px 100px;
  width: 60%;
  h1 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    font-size: 40px;
    font-weight: bold;
    color: $white;
  }
  p {
    color: $white;
    font-size: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.40);
    margin: 5px auto;
    border-radius: 10px;
    text-transform: none;
  }
  strong {
    color: yellow;
  }
  .usersShowButtons {
    padding-top: 20px;
  }
}

#userImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 0%;
  content: "";
  display: block;
  padding: 10%;
  margin: 0 auto 30px auto;
  border: 3px solid $white;
}

#editUser {
  &:before {
    background-image: url('../images/logos/edit.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}
#deleteUser {
  &:before {
    background-image: url('../images/logos/delete.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}
#logout {
  &:before {
    background-image: url('../images/logos/logout.png');
    height: 32px;
  }
  &:hover {
    color: transparent;
  }
}
