.usersGroupsIndexSection {
  background-color: rgba(0, 0, 0, 0.30);
  margin: 0 300px;
  border-radius: 25px;
  a {
    text-decoration: none;
    h2 {
      padding-top: 0;
      padding-bottom: 20px;
      &:hover {
        text-decoration: red line-through;
      }
    }
  }
}
