$brand-color: #01A3BC;

$background-color: rgba(0, 0, 0, 0.50);

$button-color: #01A2BB;

$white: #FFFFFF;
$black: #000000;
$purple: #6B14C2;
$yellow: #FFFF00;
$hotpink: #FF0090;

$github: #24292E;
$facebook: #3B5998;
$skyscanner: #0770e3;

// MATERIAL
$md-card-background: rgba(0, 0, 0, 0.75);

$lato: 'Lato', sans-serif;
