@import 'reset';

* {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
}

header {
  nav {
    background-color: rgba(0,0,0,0.3);
    height: 60px;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 10px;
        line-height: 60px;
        &.right {
          float: right;
        }
        &.left {
          float: left;
        }
        a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 4px;
          font-weight: 200px;
          &:hover {
            text-decoration: none;
            outline-width: 0;
            color: black;
          }
          &:after {
            text-decoration: none;
            outline-width: 0;
          }
          &:focus {
            text-decoration: none;
            outline-width: 0;
          }
        }
      }
    }
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

button, footer p, h1, h2, h3 {
    text-transform: uppercase;
  }

p {
  line-height: 30px;
}

.carousel nav ul, body .loginSection .loginForm, body .loginSection .loginForm h2, body .registerSection, body .registerSection .registerForm p, button, footer, h1, h2, h3 {
    text-align: center;
}

button {
  margin: 10px;
    width: 50%;
    // background: #00DDFF;
    // border: 2px solid #00DDFF;
    height: 40px;
    border-radius: 500px;
    // color: #fff;
    font-size: 14px;
    outline: 0;
    padding: 5px;
    // appearance: none;
    // box-sizing: initial;
    // transition: all .5s ease;
}

.usersInfo img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
footer {
  // text-align: center;
  // background-color: rgba(0,0,0,0.3);
  // padding: 10px;
  width: 100%;
  background-color: #B3B3B3;
  color: #fff;
  padding: 15px;
  margin-top: 30px;
  p {
    margin: 0;
    letter-spacing: 4px;
  }
}

section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: block;
}

img {
  max-width: 25%;
  border-style: none;
}

textarea {
  width: 300px;
  height: 100px;
}

.map {
  width: 900px;
  height: 300px;
}

main {
  margin-top: 60px;
}

.hero-image {
  height: 100vh;
  position: relative;
  margin-top: -60px;
  background-size: cover;
  background-position: center;
}

.imagesGrid {
  float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    position: relative;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    // &:nth-child(3n) {
    //   margin-right: 0;
    // }
}
.createHolidayForm {
  background-color: rgba(251,251,251,.32);
  padding: 20px;
  width: 80%;
  top: 50px;
  text-align: center;
}

.newHolidaySection {
  top: 0;
    width: 100vw;
    // background-color: rgba(36,39,43,.7);
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    box-pack: center;
    justify-content: center;
    box-align: center;
    align-items: center;
    -ms-flex-align: center;
}

.groupsIndex {
  text-align: center;
  margin-top: 60px;
}

.createGroupForm {
  text-align: center;
}

.groupsShow {
  text-align: center;
  margin-top: 60px;
}

.holidaysShow {
  text-align: center;
}

.usersShow {
  text-align: center;
}

div {
  &.attendees {
    padding-left: 10px;
    label {
      // margin-left: 10px;
      position: relative;
      display: block;
      padding-top: 5px;
      padding-left: 5px;
    }
  }
}
