@import 'bootstrap/bootstrap-grid';
@import 'reset';
@import 'variables';
@import 'extends';
@import 'header';
@import 'forms';
@import 'button';
@import 'footer';
@import 'section';
@import 'homePage';
@import 'groupsNew';
@import 'groupsEdit';
@import 'loginForm';
@import 'usersShow';
@import 'usersEdit';
@import 'holidaysNew';
@import 'holidaysShow';
@import 'holidaysEdit';
@import 'registerForm';
@import 'usersGroupsIndex';
@import 'usersGroupsShow';
@import 'searchFlightsForm';
// @import 'iphone5';

* {
  box-sizing: inherit;
}

html {
  line-height: 1.15;
}

body {
  font-family: 'Raleway', sans-serif;
}

.message {
  background-color: rgb(255, 0, 0);
  padding: 22px 0;
  color: white;
}

.formValidation {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: normal;
}

#avatar {
  width: 10%;
  margin-left: 90%;
  border-radius: 99%;
  border: 3px dotted white;
}
